@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer utilities {
  .masonry {
    column-count: 3;
    column-gap: 1em;
  }
  .break-inside {
    break-inside: avoid;
  }
  .aspect-ratio-box {
    position: relative;
  }

  .aspect-ratio-box::after {
    display: block;
    padding-bottom: 56.625%;
  }

  .aspect-ratio-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .accelerated {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}
